__pycache__/
*.py[cod]
.pytest_cache/
pytest-cache-files-*/
.coverage
htmlcov/
.venv/
site/
test_envs/tests/.tmp/
test_reports/results/pytest/test_cases/*
!test_reports/results/pytest/test_cases/.gitkeep
test_reports/results/unittest/*
test_reports/pandocs/pytest/test_cases/*
!test_reports/pandocs/pytest/test_cases/.gitkeep
test_reports/pandocs/unittest/*
!test_reports/pandocs/unittest/.gitkeep
test_reports/markdown/pytest/test_cases/*
!test_reports/markdown/pytest/test_cases/.gitkeep
test_reports/markdown/unittest/*
!test_reports/markdown/unittest/.gitkeep
test_reports/local_llm/*
!test_reports/**/.gitkeep
