__pycache__/
*.py[cod]
.pytest_cache/
pytest-cache-files-*/
.coverage
htmlcov/
.venv/
site/
test_envs/reports/pytest/*
!test_envs/reports/pytest/test_cases
test_envs/reports/pytest/test_cases/*
test_envs/reports/unittest/*
test_envs/reports/pandoc/*
test_envs/reports/markdown/*
!test_envs/reports/**/.gitkeep
